<h1>Welcome <%= current_user.username %>!</h1>
<%= button_to "Discover Movies", "/discover", method: :get %><br>

<body>
  <section>
    <h2>Friends</h2>
    <%= form_tag "/user/friends", method: :post do %>
      <%= text_field_tag :user_email %>
      <%= submit_tag 'Add Friend' %>
    <% end %>
    <h3>Friends List:</h3>
    <% if @friends.empty? %>
      <p>You currently have no friends</p>
    <% else %>
      <% @friends.each do |friend| %>
        <%= friend.username %>
      <% end %>
    <% end %>
  </section><br>

  <section>
    <h2>Viewing Parties</h2>
  </section>
</body>
