<h1>Welcome <%= current_user.username %>!</h1>
<%= button_to "Find Top Rated Movies", "/movies", method: :get %><br>

<%= form_tag "/movies/search", method: :get do %>
  <%= text_field_tag :movie %>
  <%= submit_tag 'Find Movies' %>
<% end %>
<br>

<h3>Results:</h3>
<% @movies.each do |movie| %>
  <%= link_to "#{movie[:title]}", "/movies/#{movie[:id]}" %>
  <p>Movie Rating: <%= movie[:vote_average] %></p><br><br>
<% end %>